
div(class="container well")
    div(class="row")
        div(class="col-md-12")
            h3(class="dark-grey") Profile
    div(class="row")
        div(class="col-md-12")
            h4(class="dark-grey") First Name: #{name}
            h4(class="dark-grey") Last Name: #{lastname}
        div(class='col-md-12')            
                a(href="/logout") logout
