doctype html
html
  head
    title Form
    link(rel='stylesheet' href='/css/style.css')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
              li
                a(href='/register') Register
              li
                a(href='/login') Login
      block content
      br
      hr
      footer
        p Ugur YILMAZ
ls
      
